body {background-color: #EC5614;}

#title {
  text-align: center;
  color: #342624;
}

#description {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #342624;
  position: relative;
  bottom: 10px;
 }

#form {
  margin: auto;
  background-color: white;
  border-radius: 5px;
  width: 55%;
  padding: 30px;
}
@media only screen and (max-width:800px) {
  /* For mobile phones: */
  #form {
    width:90%;
  }
}

p, input[name=recommendation] {
  line-height: 1.5;
}
form, input[class=check] {
  line-height: 1.5;
}
textarea {
  resize: none;
}



